# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*

supabase_rls_policies.sql
fix_rls_policies.sql
check_rls_settings.sql
0618portfolio.txt